# .NET
bin/
obj/
*.user
.vs/

# Angular / Node
node_modules/
dist/
.angular/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Secrets
appsettings.Development.json
appsettings.Local.json
.env
.env.local